
html, body, head, header, footer {
    background-color: #132113;
    color: #343434;;
}

/* body {
    color:blueviolet;
    background-color:aqua;
    font-family: ubuntu;
}

header {
    text-align: center;
    color:brown;
    background-color:blue;
}

footer p {
    font-size: 100px;
}

p {
    text-align: center;
}
*/