body
{
    color:blueviolet;
    background-color:aqua;
    font-family: ubuntu;
}

header, footer
{
    text-align: center;
    color:brown;
    background-color:aquamarine;
}

footer p
{
    font-size: 300%
}