<footer>
    <nav>
        <a href = "https://github.com/nrammoun">Github</a> &middot;
        <a href = "https://github.com/nrammoun/nrammoun.github.io">My Github.io</a> &middot;
        <a href = "https://github.com/nrammoun/nrammoun.github.io/tree/main/itis3135">ITIS3135 Github Pages</a> &middot;
        <a href = "https://codecademy.com/profiles/nrammoun">Codecademy</a> &middot;
        <a href = "https://freecodecamp.org/nrammoun">FreeCodeCamp</a> &middot;
        <a href = "https://linkedin.com">LinkedIn</a> &middot;
    </nav>

    <br>
    Designed By &#8469;&#8477; Naseem Foundation 2022 &copy;
    <br>

    <!-- css validate-->
    <a href = "https://jigsaw.w3.org/css-validator/check/referer" id = "validation_css" target = "_blank"> 
        <img src = "images/button_validation_css.png" width = "88" height = "31" alt = "Validate webpage CSS." />
    </a>
    
    <!-- hmtl validate-->
    <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html" target = "_blank">
        <img src="images/button-validation-html5.png" width="88" height="31" alt="Validate webpage HTML." />
    </a>

    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>

</footer>