<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/nrammoun/itis3135/">&#9865; UNCC webpage</a>
                <a href = "https://github.com/nrammoun" target = "_blank">&#9865; Github</a>
                <a href = "https://github.com/nrammoun/nrammoun.github.io" target = "_blank">&#9865; My Github.io</a>
                <a href = "https://github.com/nrammoun/nrammoun.github.io/tree/main/itis3135" target = "_blank">&#9865; ITIS3135 Github Pages</a>
                <a href = "https://codecademy.com/profiles/nrammoun" target = "_blank">&#9865; Codecademy</a>
                <a href = "https://freecodecamp.org/nrammoun" target = "_blank">&#9865; FreeCodeCamp</a>
                <a href = "https://linkedin.com" target = "_blank">&#9865; LinkedIn</a>
    </nav>
    <div>
        <br><p>Designed By Naseem Foundation&copy; 2022</p>

        <!-- css validate-->
        <a href = "https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css" target = "_blank"><img src = "images/button_validation_css.png" width = "88" height = "31" alt = "Validate webpage CSS." />
        </a>
        
        <!-- hmtl validate-->
        <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html" target = "_blank"><img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
        </a>

        <script>
            document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
    </div>

</footer>